.header {
	background-color:#C00000;
	color:white;
	padding:20px;
	font-family: Verdana;
	font-weight: bold;
	font-size: x-large;
}

ul#menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-align: center
}

ul#menu li {
	vertical-align: top;
	display: inline-block;
}

ul#menu li a {

	background-color: darkred;
	color: white;
	text-decoration: none;
	border: 5px solid black;
}

ul#menu li a:hover {
	background-color: black;
} 

ul#menu a:link, ul#menu a:visited {
	display: block;
	width: 120px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #98bf21;
	text-align: center;
	padding: 4px;
	text-decoration: none;
	text-transform: uppercase;
}

a:hover, a:active {
	background-color: #7A991A;
}